/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/blobtoolkit'
}

process {
    withName: BLOBTOOLKIT_WINDOWSTATS {
        ext.args = "--window 0.1 --window 0.01 --window 1 --window 100000 --window 1000000 --min-window-length 78850"
    }
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
