/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "SAMPLESHEET_CHECK" {
        publishDir = [
            path: { "${params.outdir}/blobtoolkit_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename }
        ]
    }

    withName: "GOAT_TAXONSEARCH" {
        ext.args = "-l -b"
    }

    withName: "SAMTOOLS_VIEW" {
        ext.args = "--output-fmt bam --write-index"
    }

    withName: "BUSCO" {
        scratch = true
        ext.args = "--mode genome --force"
    }

    withName: "DIAMOND_BLASTP" {
        ext.args = "--evalue 1.0e-25  --max-target-seqs 10 --max-hsps 1"
    }

    withName: "DIAMOND_BLASTX" {
        ext.args = "--evalue 1.0e-25  --max-target-seqs 10 --max-hsps 1"
    }

    withName: "BLOBTOOLKIT_WINDOWSTATS" {
        ext.args = "--window 0.1 --window 0.01 --window 1 --window 100000 --window 1000000"
    }

    withName: "BLOBTOOLKIT_BLOBDIR" {
        ext.args = "--evalue 1.0e-25 --hit-count 10 --update-plot"
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename }
        ]
    }

    withName: "BLOBTOOLKIT_SUMMARY" {
        publishDir = [
            path: { "${params.outdir}/${blobdir.name}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename }
        ]
    }

    withName: "BLOBTOOLKIT_IMAGES" {
        publishDir = [
            path: { "${params.outdir}/${blobdir.name}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename }
        ]
    }

    withName: "BLOBTOOLKIT_CHUNK" {
        ext.args = "--chunk 100000 --overlap 0 --max-chunks 10 --min-length 1000"
    }

    withName: "BLOBTOOLKIT_UNCHUNK" {
        ext.args = "--count 10"
    }

    withName: "NOHIT_LIST" {
        ext.args = "1.0e-25"
    }

    withName: "BLAST_BLASTN" {
        ext.args = "-outfmt "6 qseqid staxids bitscore std" -max_target_seqs 10 -max_hsps 1 -evalue 1.0e-10 -lcase_masking -dust "20 64 1""
    }

    withName: "CUSTOM_DUMPSOFTWAREVERSIONS" {
        publishDir = [
            path: { "${params.outdir}/blobtoolkit_info" },
            mode: params.publish_dir_mode,
            pattern: "*_versions.yml"
        ]
    }

    withName: MULTIQC {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
