/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/blobtoolkit -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input test data
    input   = "${projectDir}/assets/samplesheet.csv"
    fasta = "https://tolit.cog.sanger.ac.uk/test-data/Meles_meles/assembly/release/mMelMel3.1_paternal_haplotype/GCA_922984935.2.subset.fasta.gz"

    // goat_taxon_search
    taxon = 'Meles meles'
    taxa_file = ''

    // BUSCO
    busco_lineages_path = '/lustre/scratch123/tol/resources/nextflow/busco_2021_06_reduced/'

    // diamond_blastp
    diamondblastp_db = '/lustre/scratch123/tol/teams/tolit/users/ar34/diamond_reduced/mMelMel3.1.buscogenes.dmnd'

    // GCA accession or path to YAML file
    accession = 'GCA_922984935.2'
    yaml = ''
}
