/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run sanger-tol/blobtoolkit -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    // Config details
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input test data
    input     = "${projectDir}/assets/full_samplesheet.csv"
    fasta     = "/lustre/scratch123/tol/projects/.sandbox/data/fungi/Laetiporus_sulphureus/assembly/release/gfLaeSulp1.1/insdc/GCA_927399515.1.fasta.gz"
    accession = "GCA_927399515.1"
    taxon     = "Laetiporus sulphureus"

    // Databases
    ncbi_taxdump        = "/lustre/scratch123/tol/teams/grit/geval_pipeline/btk_databases/taxdump"
    busco_lineages_path = "/lustre/scratch123/tol/resources/busco/v5/"
    diamondblastp_db    = "${projectDir}/assets/gfLaeSulp1.1.buscogenes.dmnd"
}
