/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run nf-core/blobtoolkit -profile test,<docker/singularity> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/


// Resource settings - normally provided through pipeline `nextflow.config`
params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Set default values
    outdir   = './results'
    tracedir = "${params.outdir}/pipeline_info"

    // Input test data
    input   = "mMelMel3"
    project = ".sandbox"

    // goat_taxon_search params
    taxon = 'Meles meles'
    taxa_file = ''
}

// Singularity settings - normally provided through `conf/sanger.config`
singularity.enabled    = true
singularity.autoMounts = true
singularity.runOptions = '--bind /lustre --bind /nfs'

// Publishing settings - normally provided through pipeline `conf/modules.config`
process {

    publishDir = { "${params.outdir}/pipeline_info" }

    withName: SAMTOOLS_VIEW {
        publishDir = [
            path: { "${params.outdir}/testing" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GOAT_TAXONSEARCH {
         ext.args = '-l -b'
     }

    withName: BUSCO {
         ext.args = '--mode genome'
     }

}
